
.btnNuevo
{
    -fx-font-family: "Century Gothic";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14.0 pt;
    -fx-background-color: #233670;
}

.btnEliminar
{
    -fx-font-family: "Century Gothic";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14.0 pt;
    -fx-background-color: #233670;
}

.btnEditar
{
    -fx-font-family: "Century Gothic";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14.0 pt;
    -fx-background-color: #233670;
}

.btnReporte
{
    -fx-font-family: "Century Gothic";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14.0 pt;
    -fx-background-color: #233670;
}

.btnRegresar
{
    -fx-font-family: "Century Gothic";
    -fx-text-fill: #EB984E;
    -fx-font-size: 14.0 pt;
    -fx-background-color: #233670;
}

.btnNuevo:hover
{
    -fx-border-color: #F39C12;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 16.0 pt;
    -fx-font-weight: bold; 
}

.btnEliminar:hover
{
    -fx-border-color: #F39C12;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 16.0 pt;
    -fx-font-weight: bold; 
}

.btnEditar:hover
{
    -fx-border-color: #F39C12;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 16.0 pt;
    -fx-font-weight: bold; 
}

.btnReporte:hover
{
    -fx-border-color: #F39C12;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 16.0 pt;
    -fx-font-weight: bold; 
}

.btnRegresar:hover
{
    -fx-border-color: #AED6F1;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 16.0 pt;
    -fx-font-weight: bold; 
}


.labels
{
    -fx-font-family: "Century Gothic";
    -fx-text-fill: #F39C12;
    -fx-font-size: 16.0 pt;
    -fx-font-weight: bold;
}

.imagenPane
{
    -fx-background-color: #233670;
}

.textoPane
{
    -fx-background-color: #405491;
}



.text-field
{
    -fx-background-color: transparent;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #99A3A4;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 16.0 pt;
    -fx-text-fill: #FFFFFF;
    -fx-alignment: CENTER;
}

.text-field:hover
{
    -fx-border-color: #AED6F1;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-background-color: transparent;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 16.0 pt;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}


.table-cell 
{   
    -fx-font: 11.5px "Century Gothic";
}

.table-row-cell
{
    -fx-cell-size : 30;
}

.table-view:row-selection .table-row-cell:filled:hover 
{ 
    -fx-background-color: #F5CBA7;
}

.table-row-cell:selected 
{
    -fx-background-color: #EB984E;
}

.table-view:row-selection .table-row-cell:filled:selected:hover 
{ 
    -fx-background-color: #F5CBA7;
}

.table-row-cell:selected .text 
{
    -fx-fill : #000000;
}

.table-column 
{
    -fx-alignment: CENTER;
}

.table-view
{
   -fx-background-color: #FFFFFF;
}

.table-view .column-header, .table-view .filler 
{
    -fx-background-color: #233670;    
    -fx-size: 30;
    -fx-border-color: -fx-box-border;
    -fx-font: 12px "Century Gothic";
}

.table-view .column-header .label
{
    -fx-text-fill: #FFFFFF;
    -fx-text-alignment: CENTER;
    -fx-font: 12px "Century Gothic";
    -fx-font-weight: bold
}


.combo-box
{
    -fx-focus-color: #FFFFFF;
    -fx-background-color: #405491;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Century Gothic";
    -fx-prompt-text-fill: #FFFFFF;
    -fx-focus-color: #FFFFFF;
    -fx-unfocus-color: #FFFFFF;
}


.combo-box .arrow-button > .arrow
{
    -fx-background-color: #F5CBA7;
}

.combo-box .list-cell
{
    -fx-background-color: #405491;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: "Century Gothic";
    -fx-prompt-text-fill: #FFFFFF;
    -fx-focus-color: #FFFFFF;
    -fx-unfocus-color: #FFFFFF   
}

.combo-box .list-cell:hover
{
    -fx-background-color: #F5CBA7;
    -fx-text-fill: #000000;
    -fx-font-family: "Century Gothic";
}

.combo-box .list-cell:pressed
{
    -fx-background-color: #EB984E;
    -fx-text-fill: #000000;
    -fx-font-family: "Century Gothic";
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected 
{
    -fx-background-color: #EB984E;
    -fx-text-fill: #000000;
    -fx-font-family: "Century Gothic";  
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover 
{
    -fx-background-color: silver;
}


.imageView:hover
{
    -fx-opacity: 0.5;
}

.imageView:pressed
{
    -fx-opacity: 0.9;
}
